html {
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0px;
    background-color: rgb(3, 0, 27);
    min-width: 790px;
}

a {
    text-decoration: none;
}

p {
    margin: 0px;
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 5px;
}

h2 {
    margin: 0px;
}

h3 {
    text-align: center;
    margin: 4px;
    color: white;
}

#top .navbar {
    background-color: rgb(3, 0, 27);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    text-transform: uppercase;

}

#top .navbar-left ul {
	list-style: none;
    display: flex;
    justify-content: space-between;
}

#top .navbar-right{
    font-size: 2.0em;
    color: white;
}

#top .navbar-link {
    height: 15px;
    padding: 5px 0px;
    margin: 5px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;

}

#top .navbar-link:hover {
    border-bottom: 1px solid rgb(255, 255, 106)
}

#top .navbar-link a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}


#top .navbar-link a:hover {
    color: rgb(255, 255, 106);
}

#top .active-nav-link {
    border-bottom: 1px solid rgb(255, 255, 106)
}

#top .active-nav-link a {
    color: rgb(255, 255, 106) !important;
}

/* Middle Styles */

#hero .hero-wrapper {
    background-image: url('./images/home-bg.jpg');
    background-size: cover;
    max-width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#hero .hero-top {
    padding: 30px;
}

#hero .hero-top > p {
    color: white;
}


#hero .hero-middle {
    border: 10px solid white;
    height: 300px;
}


#hero .hero-middle img {
    height: 300px;
    width: 300px;
}

#hero .hero-bottom {
    margin-top: 50px;
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

#hero .button {
    display: inline-block;
    padding: 10px;
    height: 20px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    text-transform: uppercase;
    transition: .3s ease background-color;
    transition-property: border, color;

}

#hero .button:hover {
    border: 2px solid rgb(255, 255, 106);
    color: rgb(255, 255, 106)

}

#about-me {
    height: 790px;
    background-image: url('./images/podium.JPG');
    background-size: cover;
    width: 100%;
}

#about-me .about-content {
    margin-left: 850px;
    padding-top: 50px;
    padding-right: 50px;
}

#about-me .about-background {
    background-color: rgb(3, 0, 27);
    height: 325px;
    border: 10px solid white;
}

#about-me .about-title {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
    text-align: center;
    padding-top: 25px;

}

#about-me .about-subtitle {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
}

#about-me .about-description {
    color: white;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
}

/* Experience Styles */

#work-experience .work-container {
    background-image: url('./images/home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 700px;
    text-align: center;
}

#work-experience h1.title {
    padding-top: 25px;
}

.title {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
}

#work-experience .work-columns {
    text-align: center;
    padding-top: 15px;
    display: flex;
}

#work-experience .work-column {
    color: white;
    border: 3px solid white;
    flex: 1;
    margin: 15px;
    background-color: rgb(3, 0, 27);
}

#work-experience h4, h5, h6, ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#work-experience ul {
    text-align: left;
    margin-right: 15px;
}

#work-experience li {
    margin: 10px;
}

#work-experience li:hover {
    color: rgb(255, 255, 106);
}

/* Leadership and Skills Styles */

.leadership-section {
    height: 500px;
    width: 100%;
}

.leadership-container {
    background-color: white;
    margin: 100px;
    margin-bottom: 50px;
    border-radius: 25px;
}



.leadership-content {
    padding: 30px;
}

.leadership-content .title {
    text-align: center;
    padding: 0px;
    color: black;
}

.subtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
}

.leadership-content h6 {
    font-style: italic;
    font-size: 140%;
    margin-bottom: 0px;
    margin-top: 25px;
}

.is-left {
    text-align: left;
}

.skills-classes-section {
    width: 100%;
}

.skills-classes-container {
    margin: 100px;
    margin-top: 50px;
}

.sc-columns {
    display: flex;
    column-gap: 150px;
}

.sc-column {
    flex: 1;
    color: white;
    text-align: center;

}

.sc-column ul {
    list-style-type: none;
    padding-left: 0px;
}

.sc-column ul li {
    padding: 10px;
}

hr {
    width: 1000px;
    color: white;
}

/* Interest Styles */





/* Contact Styles  */

#contact .bg-wrapper {
    background-image: url('./images/home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#contact .contacts-wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 125px;
}

#contact .p-wrapper {
    margin-top: 50px;
    width: 400px;
    padding: 10px;
    color: black;
    background-color: white;
    border: 3px solid black;
    align-self: center;
}

